<div class = "flex-container identification">
    <!-- profile pic -->
    <div class = "sprofilepic">
        <img class = "profilepic" src = "https://wallpaperplay.com/walls/full/5/c/c/121472.jpg"/>
    </div>
    <div class = "nameandemail">
        <!-- my name -->
        <div class = "name">
            Alyssa Yee
        </div>
        <!-- email link -->
        <div class = "email">
            random@gmail.com
        </div>
    </div>
</div> 

<div class = "messagebutton">
    <!-- new message -->
    <button class = "newmessage">
        new message
    </button>
</div>   

<!-- OPTIONS MENU -->
<div class = "menu">
    <div>
        <button class = "morebuttons">
             <i class="fa fa-caret-down fa-fw" aria-hidden="true" style="color: rgb(40, 120, 300)"></i>
            inbox
        </button>
    </div>
    <div>
        <button class = "morebuttons">
            <!-- <i class="fa fa-angle-right fa-fw" aria-hidden="true" style="color:blue"></i> -->
            <i class="fa fa-caret-right fa-fw" aria-hidden="true" style="color: rgb(40, 120, 300)"></i>
            drafts
        </button>
    </div>
    <div>
        <button class = "morebuttons">
            <i class="fa fa-caret-right fa-fw" aria-hidden="true" style="color: rgb(40, 120, 300)"></i>
            sent
        </button>
    </div>
    <div>
        <button class = "morebuttons">
            <i class="fa fa-flag fa-fw" aria-hidden="true" style = "color: rgb(40, 120, 300)"></i>
            spam
        </button>
    </div>
    <div>
        <button class = "morebuttons">
            <i class="fa fa-times fa-fw" aria-hidden="true" style = "color: rgb(40, 120, 300)"></i>
            trash
        </button>
    </div>
</div>



<!-- <div class = icons>
    <div>
        <button class = "iconbuttons">
            <i class="fa fa-caret-down fa-lg" aria-hidden="true" style="color:blue"></i>
        </button>
    </div>
    <div>
        <button class = "iconbuttons">
            <i class="fa fa-angle-right fa-lg" aria-hidden="true" style="color:blue"></i>
        </button>
    </div>
    <div>
        <button class = "iconbuttons">
            <i class="fa fa-caret-right fa-lg" aria-hidden="true" style="color:blue"></i>
        </button>
    </div>
        <button class = "iconbuttons">
            <i class="fa fa-flag fa-xs" aria-hidden="true" style = "color:blue"></i>
        </button>
    <div>
        <button class = "iconbuttons">
            <i class="fa fa-times" aria-hidden="true" style = "color:blue"></i>
        </button>
    </div>
</div>

 -->
