// // SEARCHBAR
// .searchbar{
//     padding-top: 20px;
//     padding-left: -10px;
// }

// .search{
//     width: 600px;
//     background-color: rgb(245, 245, 245);
//     outline: none;
//     border: none;
//     height: 35px;
//     border-radius: 0px 8px 8px 0px;
// }

// ::placeholder{
//     padding-left: 10px;
// }

// //SEARCHBAR ICON EDITS
// .searchicon{
//     border: none;
//     outline: none;
//     background-color: rgb(245, 245, 245); 
//     color: rgb(126, 126, 126);
//     margin-top: 20px;
//     border-radius: 8px 0px 0px 8px; 

// }

// .searchsection{
//     display: flex;
//     padding-left: 30px;
// }


// SEARCH OPTIONS

.searchoptions{
    border:none;
    outline: none;
    background-color: white;
    padding-left: 10px;
    margin-left: 30px;
}

.searchoptionsclass{
    padding-top: 6px;
    padding-left: 25px;
}

.searchsection{
    padding-top: 20px;
    padding-left: 20px;
    width: 1200px;
}


// .form-control.border-right-0{
//     border-radius: 0px, 10px, 10px, 0px;
// }

// .fa.fa-search{
//     border-radius: 10px, 0px, 0px, 10px;
// }